/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* styling parent page */
body {
	background-color: #393E46;
	color: #222831;
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
	margin: 0;
}

/* main semantics */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #00ADB5;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav li {
	border-bottom: 1px solid #eee;
	font-size: 1.2em;
	height: 2.5em;
	line-height: 2.5;
}
nav a {
	color: #eee;
	display: block;
	text-decoration: none;
	transition: .3s background-color;
}
nav a:hover {
	background-color: #00ADB5;
}
nav a.active {
	background-color: #eee;
	color: #222831;
	cursor: default;
}

@media screen and (min-width: 600px) {
	nav li {
		border-bottom: none;
		width: 120px;
	}
	nav li {
		display: inline-block;
		margin-right: -4px;
	}
}

header,
main {
	background-color: #eee;
	padding: 0.5em;
}
main {
	min-height: 75vh;
}

blockquote {
	border-left: 0.3em solid #00ADB5;
	color: #00ADB5;
	font-style: italic;
	padding-left: 1em;
}

iframe {
	border: 0;
	min-height: 40em;
	width: 100%;
}

footer {
	bottom: 0;
	color: #eee;
	height: 2.5em;
	text-align: center;
}

.container {
	margin: auto;
	max-width: 50em;
}
